/* Navigation bar */
.side-nav a:hover {
    text-decoration: underline;
}

.side-nav {
    position: fixed;
    top: 0;
    right: 0; /* Adjusted from left: 0 to right: 0 to move the nav bar to the right side */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

.side-nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
}
.header-content {
    padding: 20px;
    text-align: left;
    color: #2d5551;
}

.header-content h1 {
    margin: 20px 0 10px;
    font-size: 50px;
    font-weight: bold;
}

.header-content p {
    margin: 0 0 20px;
}

header img {
    width: 100%;
}

.main-content {
    margin: 50px; /* Provide spacing from the header */
    position: relative; /* Ensure the main content is positioned relatively */
}

.section-header {
    height: 700px; /* Height of each image section */
    width: 100%; /* Full width */
    margin-bottom: 20px;
    padding: 20px;
}

.section-header h1 {
    margin: 20px 0 10px;
    font-size: 50px;
    font-weight: bold;
}

.section-header p {
    margin: 0 0 20px;
    font-size: 19px;
}

.content-boarder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border-color: #2d5551;
}

.image-links {
    position: relative; /* Position the image links relative to the main content */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 10px; /* Adds space between the images */
}

.image-link {
    flex: 1 1 20%; /* Allows the items to grow and shrink but not smaller than 20% */
    max-width: 300px; /* Maximum width for larger screens */
    position: relative;
    display: inline-block;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border-color: #2d5551;
    transition: transform 0.3s ease;
}

.content-image:hover {
    transform: scale(1.1);
}

.image-link h2 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0; /* Remove the margin */
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 20px;
}
