body {
    margin: 0;
    padding: 0;
    background-color: #424449;
}

.header-overlay {
    position: relative;
}


.header-qoute {
    position: absolute;
    top: 50%;
    right: 0; 
    transform: translateY(-50%);
    text-align: right; 
    padding: 0 20px; 
    color: #fff;
    z-index: 1; 
    font-size: 25px;
    font-weight: 800;
    margin-top: 80px;
}

.header-qoute::after {
    content: '';
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #fff; 
    margin-top: 10px; 
}

.header-content {
    padding: 20px;
    text-align: left;
    color: #fff;
}

.header-content h1 {
    margin: 20px 0 10px;
    font-size: 50px;
    font-weight: bold;
}

.header-content p {
    margin: 0 0 20px;
    word-wrap:break-word;
}

header img {
    width: 100%;
}

.main-content {
    margin: 50px; 
    position: relative; 
}

.section-header {
    position: inherit;
    height: 700px; 
    width: 100%; 
    margin-bottom: 20px;
    padding: 20px;
}

.section-header h2 {
    position: absolute; 
    top: 40px; 
    left: 40px; 
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}

.section-header p {
    margin: 0 0 20px;
    font-size: 19px;
}

.content-boarder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border-color: #2d5551;
}

.image-links {
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 10px; 
}

.image-link {
    flex: 1 1 20%; 
    max-width: 300px; 
    position: relative;
    display: inline-block;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border-color: #2d5551;
    transition: transform 0.3s ease;
}

.content-image:hover {
    transform: scale(1.1);
}

.image-link h2 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0; 
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 20px;
}
